{% extends 'base.html' %}

{% load static %}

{% block content %}

    <h1 class="text-center">Fakultas Keguruan dan Ilmu Pendidikan</h1>

    <p>Fakultas Keguruan dan Ilmu Pendidikan terdiri dari 18 Program Studi, diantaranya:</p>
    <h2>
    <p> 1. Jurusan Pendidikan Nonformal</p>
    <p> 2. Jurusan Pendidikan Bahasa Indonesia</p>
    <p> 3. Jurusan Pendidikan Bahasa Inggris</p>
    <p> 4. Jurusan Pendidikan Biologi</p>
    <p> 5. Jurusan Pendidikan Matematika</p>
    <p> 6. Jurusan Pendidikan Guru Sekolah Dasar</p>
    <p> 7. Jurusan Pendidikan Guru PAUD</p>
    <p> 8. Jurusan Bimbingan dan Konseling</p>
    <p> 9. Jurusan Pendidikan Fisika</p>
    <p> 10. Jurusan Pendidikan Ilmu Pengetahuan Alam</p>
    <p> 11. Jurusan Pendidikan Kimia</p>
    <p> 12. Jurusan Pendidikan Khusus</p>
    <p> 13. Jurusan Pendidikan Pancasila dan Kewarganegaraan</p>
    <p> 14. Jurusan Pendidikan Sejarah</p>
    <p> 15. Jurusan Pendidikan Seni dan Pertunjukan</p>
    <p> 16. Jurusan Pendidikan Sosiologi</p>
    <p> 17. Jurusan Pendidikan Vokasional Teknik Elektro</p>
    <p> 18. Jurusan Pendidikan Vokasional Teknik Mesin</p>
    </h2>

    <h2>Daftar Nama Dosen FKIP</h2>
    <table class="table table-success table-striped">
        <tr>
            <th>NIP</th>
            <th>Nama</th>
            <th>Tanggal Lahir</th>
            <th>Foto</th>
            <th>Email</th>
            <th>Fakultas</th>
            <th>Prodi</th>
            <th>Alamat</th>
        </tr>
        {% for dosen in dataDosen %}
        <tr>
            <td>{{ dosen.nip }}</td>
            <td>{{ dosen.nama }}</td>
            <td>{{ dosen.tanggal_lahir }}</td>
            <td>{{ dosen.foto }}</td>
            <td>{{ dosen.email }}</td>
            <td>{{ dosen.fakultas }}</td>
            <td>{{ dosen.prodi }}</td>
            <td>{{ dosen.alamat }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <h2>Daftar Nama Staf FKIP</h2>
    <table class="table table-success table-striped">
        <tr>
            <th>NIP</th>
            <th>Nama</th>
            <th>Tanggal Lahir</th>
            <th>Foto</th>
            <th>Email</th>
            <th>Unit</th>
            <th>Alamat</th>
        </tr>
        {% for staf in dataStaf %}
        <tr>
            <td>{{ staf.nip }}</td>
            <td>{{ staf.nama }}</td>
            <td>{{ staf.tanggal_lahir }}</td>
            <td>{{ staf.foto }}</td>
            <td>{{ staf.email }}</td>
            <td>{{ staf.unit }}</td>
            <td>{{ staf.alamat }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <h2>Daftar Nama Mahasiswa FKIP</h2>
    <table class="table table-success table-striped">
        <tr>
            <th>NIM</th>
            <th>Nama</th>
            <th>Tanggal Lahir</th>
            <th>Foto</th>
            <th>Email</th>
            <th>Fakultas</th>
            <th>Prodi</th>
            <th>Alamat</th>
        </tr>
        {% for mahasiswa in dataMahasiswa %}
        <tr>
            <td>{{ mahasiswa.nim }}</td>
            <td>{{ mahasiswa.nama }}</td>
            <td>{{ mahasiswa.tanggal_lahir }}</td>
            <td>{{ mahasiswa.foto }}</td>
            <td>{{ mahasiswa.email }}</td>
            <td>{{ mahasiswa.fakultas }}</td>
            <td>{{ mahasiswa.prodi }}</td>
            <td>{{ mahasiswa.alamat }}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}